:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: rgb(84, 79, 75);
  color: rgb(84, 79, 75);
  background-color: #ff7a64;

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ff7a64;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
